Assets/Assets/ifIhavetoputsomethinghereiwill.txt
Assets/Assets/Design/Nations/Colors/ifIhavetoputsomethinghereiwill.txt
Assets/Assets/Design/Nations/Focuses/Prussia/ifIhavetoputsomethinghereiwill.txt
Assets/Assets/Design/Provinces/ifIhavetoputsomethinghereiwill.txt
Assets/Assets/Sprites/Focuses/Prussia/ifIhavetoputsomethinghereiwill.txt
