Assets/Sprites/Flags/Starting Nations/Lichtenstein/ifIhavetoputsomethinghereiwill.txt
Assets/Sprites/Focuses/Prussia/ifIhavetoputsomethinghereiwill.txt
Assets/Design/Nations/Colors/ifIhavetoputsomethinghereiwill.txt
Assets/Design/Nations/Focuses/Prussia/ifIhavetoputsomethinghereiwill.txt
Assets/Design/Provinces/ifIhavetoputsomethinghereiwill.txt
